<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/assets/emailform.css">
<link rel="icon" href="/assets/images/Flame_with_bg-removebg-preview_adobe_express.svg">

</head>
<body>
  <div class="system">
      <form id="form" class="form" action="/dbregister" method="post" onsubmit="return submitvalidate()">
        <section class="heading">
          <p class="first">FLAME-2k23</p>
          <p class="second">REGISTRATION</p>
       </section>
        <h2 id="h2"></h2>
        <%if(message){%>
          <p> <%=message%></p>
        <%} %>
        
          <input type="text" placeholder="Enter your Name" id="name" name="name" onkeyup="nameerror()">
          <small id="error1">Error Message</small>

          <input type="text" placeholder="Enter your College Name" id="collegename" name="collegename">
        
          <input type="text" placeholder="Enter your Email-ID" id="email" name="email" onkeyup="emailerror()">
          <small id="error2">Error Message</small>
          
          <input type="text" placeholder="Enter your Mobile Number" id="mobilenumber" name="mobilenumber">
          
        <button type="submit">Submit</button>
      </form>
    </div>
 
<script>
const name=document.getElementById("name");
const collegename=document.getElementById("collegename");
const email=document.getElementById("email");
const mobilenumber=document.getElementById("mobilenumber");

const error1=document.getElementById("error1");
const error2=document.getElementById("error2");

var count=0;
function nameerror(){
  const name1=name.value;
  if(name1==""){
    error1.style.visibility="visible";
    error1.innerHTML="This Field should'nt be empty";
    name.style.border="2px solid red";
  }
  else if(name1.length>=15){
    name.style.border="2px solid red";
    error1.style.visibility="visible";
    error1.innerHTML="Username should not exceed more than 15 characters"; 
  }
  else{
    error1.innerHTML="";
    name.style.border="2px solid green";
    return count++;
  }
}

function emailerror(){
    const email1=email.value;
    const regExp = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    if(email1==''){
      error2.innerHTML="This Field should'nt be empty";
      error2.style.visibility="visible";
      email.style.border="2px solid red";
    }
    else if(!(regExp.test(email1))){
      email.style.border="2px solid red";
      error2.style.visibility="visible";
      error2.innerHTML="Invalid! Please provide proper Email";
    }
  else{
    error2.style.visibility="hidden";
    email.style.border="2px solid green";
    return count++;
  }
}

function submitvalidate(){
  if(count>=2)  return true;
  else return false;
}

</script>
</body>
</html>


