<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/images/Flame_with_bg-removebg-preview_adobe_express.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAME</title>
    <link rel="stylesheet" href="/assets/events.css">
</head>
<body>
    <div class="loaderBox" id="loaderBox">
        <div class="loader" id="loader">
            <img src="/assets/images/loader.png" alt="">
        </div>
    </div>
    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div class="headers" >
            <div id="home">
                <img src="/assets/images/Flame_with_bg-removebg-preview.png" alt="FLAME Logo" class="Logo">
            </div>
            <div class="span">
                <span> FLAME 2K23</span>
            </div>
        </div>
        <nav class="navbar">
            <a href="#technical Events">Technical Events</a>
            <a href="#non-technical Events">Non-Technical Event</a>
            <a href="/events">Events</a>
            <a href="/">Home</a>
        </nav>
    </header>
    <section class="Description">
    <h3>Events Description</h3>
</section>
<section class="general">
   <h5>General Rules and Regulations</h5><br>
   <ol class="rules">
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Every participant should bring their college ID card for verification.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Participant must appear in formal dress code.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Symposium is scheduled from 09:00 AM to 04:30 PM.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Every participant should be present until the valedictory function for collecting the certificates.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Lunches will be provided at the respective venues.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">All the winners will be finalized by the panel members at the respective venue.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Prizes will be announced at the valedictory function.</li>
    <li><img src="/assets/images/Bullets.gif" alt="Bullets" title="Bullets">Participant's valuables & gadgets are on their own risk.</li>
   </ol>
</section>
<section id="technical Events">
    <h1>Technical Events</h1>
</section>
<section class="presentation" >
    <p><img src="/assets/images/Presentation.png" alt="Presentation" title="presentation"> Presentation Mania(Paper Presentation)</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 1-2 Participant(s).</li>
    <li>Topics related to the Engineering Domain.</li>
    <li>Abstract in PDF format has to be submitted through mail on or before 27.03.2023.</li>
    <li>PPT should be precise and should contain 10 to 15 slides including
        Welcome and Thank You slides.</li>
        <li>5 minutes will be given for Presentation and 3 minutes for Question and Answer session.</li>
        <li>Animation is not mandatory.</li>
        <li>Plagrarized papers will not be accepted.</li>
</ol>
<div class="flex">
<div><p>Venue: A-Block 307 , 308 , 310 Classrooms</p></div>
<div><p>Contact Details: <br> Mr.C.Manikandan - 7708864298 <br> Mr. P.Manojkumar - 6369673727</p>
</div>
</div>

</section>
<section class="Design">
    <p><img src="/assets/images/Design event.png" alt="Design" title="Design">&nbsp; Design Dynasty (3D CAD MODELING)</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 1 Participant.</li>
    <li>One hour will be given to the Participant(s) to complete the given design.</li>
    <li>Drawing will be provided along with dimensions.</li>
    <li>Participants can use any of the available software in our LAB (SOLIDWORKS, CATIA).</li>
        <li>Participants shall bring their own laptops if the above mentioned software is available.</li>
        <li>Usage of mobile phones during the event is strictly prohibited.</li>
        <li>Switching to other tabs or windows during the event is not allowed</li>
</ol>
<div class="flex">
<div><p>Venue: A-Block - CAD Lab</p></div>
<div><p>Contact Details: <br> Mr.K.Dhanasekar - 9597962101</p>
</div>
</div>
</section>
<section class="Engine">
    <p><img src="/assets/images/Engine event.png" alt="Engine" title="Engine">&nbsp; Engine Assembly</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 2-3 Participant(s) .</li>
    <li>Components/parts will be given on the spot along with tools.</li>
    <li>Each team has to dismantle and assemble the parts of the given Engine.</li>
    <li>Veracity will be monitored.</li>
    <li>Time limit is 30 minutes.</li>
</ol>
<div class="flex">
<div><p>Venue: Manufacturing Technology Lab</p></div>
<div><p>Contact Details: <br> Mr.Surrendhar - 9080961750</p>
</div>
</div>
</section>
<section class="Brain_Bytes">
    <p><img src="/assets/images/Brain bytes event.png" alt="Brain Bytes" title="Brain Bytes">&nbsp; Brain Bytes</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 1-2 Participant(s).</li>
    <li>25 questions will be given, within 30 minutes students should answer,.the high scored team will be selected.</li>
    <li>No. of Rounds will be based on the team registration.</li>
    <li>You can discuss with your teammates but mobile phones will not be allowed while the event is held.</li>
</ol>
<div class="flex">
<div><p>Venue: A-Block 313 Classroom</p></div>
<div><p>Contact Details: <br> Mr.R.Udhayam - 9043731869</p>
</div>
</div>
</section>
<section class="Logic_Lindo">
    <p><img src="/assets/images/debate event.png" alt="Logic Lindo" title="Logic Lindo">&nbsp; Logic Lingo</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 1 Participant(s).</li>
    <li>Each participants will be given maximum 05 minutes time to speak either in favour or against the subject.</li>
    <li>A warning bell will be given after 03 minutes and a final bell after 05 minutes.</li>
    <li>If the participants exceeded the allocated time then the marks will be deducted by the judges.</li>
</ol>
<div class="flex">
<div><p>Venue: Cam Laboratory</p></div>
<div><p>Contact Details: <br> Mr.M.A.Deepak -8680040224</p>
</div>
</div>
</section>
<section class="Visual_Memory">
    <p><img src="/assets/images/Visual memory event.png" alt="Visual_Memory" title="Visual_Memory">&nbsp; Visual Memory</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 1 Participant.</li>
    <li>Photos are displayed during the event.</li>
    <li>Mobile phones are strictly prohibited during the event.</li>
    <li>The images are oriented to the technical subject.</li>
    <li>The participant should be maintain their discipline and calm during the event.</li>
    <li>Remaining rules are announced on the spot.</li>
</ol>
<div class="flex">
<div><p>Venue: A-Block 311</p></div>
<div><p>Contact Details: <br> Mr.P.Kowsiksharma -6382030376</p>
</div>
</div>
</section>
<section id="non-technical Events">
    <h1>Non-Technical Events</h1>
</section>
<section class="blink_movie">
    <p><img src="/assets/images/Blink movie evemt.png" alt="Blink Movies" title="blink_movie">&nbsp; Blink Movies</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 2- 4 Participant(s).</li>
    <li>10-15 minutes will be given to deliver their show.</li>
    <li>Love stories will be allowed.</li>
    <li>Short films should be under U/A.</li>
    <li>Avoid 18+ content in the short films.</li>
    <li>Addressing societal properties related to engineering will be highly appreciated</li>
</ol>
<div class="flex">
<div><p>Venue: MBA Seminar Hall</p></div>
<div><p>Contact Details: <br> Mr.N.Sasivarnan - 8870328304</p>
</div>
</div>
</section>
<section class="face_art">
    <p><img src="/assets/images/faceart event.png" alt="face art" title="face art">&nbsp; Face Art</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size:1-2 Participant(s).</li>
    <li>Participants should bring their own colors, brushes, glitters etc..</li>
    <li>The Participants should not have any prior preparation done, the face should be clear.</li>
    <li>Participants can choose their own topic .</li>
    <li>Design may not extend down the neck.</li>
</ol>
<div class="flex">
<div><p>Venue: Mechatronics lab</p></div>
<div><p>Contact Details: <br> Ms.K.Niranjana -8668043293</p>
</div>
</div>
</section>
<section class="Body_language">
    <p><img src="/assets/images/body language event.png" alt="Body_language" title="Body_language">&nbsp; Body Language Ballet</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size: 5 Participant(s).</li>
    <li>The act should not contain any dialogues, lip sync.</li>
    <li>No act shall contain any offensive, obscene, disrespectful actions.</li>
    <li>Background music is allowed.</li>
    <li>No mythology and religion violence.</li>
</ol>
<div class="flex">
<div><p>Venue: K&D Lab</p></div>
<div><p>Contact Details: <br> Mr.S.Sethupathi - 7010859303</p>
</div>
</div>
</section>
<section class="Meme">
    <p><img src="/assets/images/Meme.png" alt="Meme creation" title="meme creation">&nbsp; Meme Creation</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Single Participant (or) Maximum 2 members (only 2 ).</li>
    <li>Memes should be created on the spot.</li>
    <li>Meme Template will be given by us and the participant should Frame the meme.</li>
    <li>Bring your own lap (or) mobiles (or) gadjets.</li>
    <li>Total Number of rounds will be selected based on the participant strength.</li>
</ol>
<div class="flex">
<div><p>Venue: CC1 Lab</p></div>
<div><p>Contact Details: <br> Mr.D.P.Gowtham - 9791777041</p>
</div>
</div>
</section>
<section class="Chain">
    <p><img src="/assets/images/connection event.png" alt="connection" title="connection">&nbsp; Chain Reaction</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size:1-2 students.</li>
    <li>Photos are displayed during the event.</li>
    <li>Mobile phones are not allowed during the event.</li>
    <li>Rules are announced on the spot.</li>
</ol>
<div class="flex">
<div><p>Venue: A-Block 314</p></div>
<div><p>Contact Details: <br> Mr.M.Praveenkumar - 8072295256</p>
</div>
</div>
</section>
<!-- <section id="workshop">
    <h1>Workshop</h1>
</section> -->
<!-- <section class="Workshop">
    <p><img src="/assets/images/Workshop EV.png" alt="workshop" title="Workshop">&nbsp; Electric Vehicle</p>
    <h4>Event rules:</h4>
    <ol class="event">
    <li>Team size:1-2 participant(s).</li>
    <li>Photos are displayed during the event.</li>
    <li>Mobile phones are not allowed during the event.</li>
    <li>Rules are announced on the spot.</li>
</ol>
<div class="flex">
<div><p>Venue: A-Block 314</p></div>
<div><p>Contact Details: <br> Mr.M.Praveenkumar - 8072295256</p>
</div>
</div>
</section> -->
<section class="footer">
    <footer>
        <div class="footercontainer">
            <div class="map">
                <p><i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;Reach us</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15635.5682432325!2d78.03047480000001!3d11.5595951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1678353133931!5m2!1sen!2sin"
                style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="500"
                height="450"></iframe></div>
            <div class="studetails">
                <h6>FLAME STUDENT INCHARGE</h6>
                <strong>Secretary :</strong>
                <h6><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp; Mr.S.Karthik
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91
                    9361525272</h6>
                <strong>Treasurer :</strong>
                <h6><i class="fa-solid fa-coins"></i>&nbsp;&nbsp; Mr.J.V.Jeeva Aravinth &nbsp;&nbsp;+91 7904925991</h6><br>
                <h6><i class="fa-solid fa-paper-plane"></i>&nbsp;&nbsp; Email us- <a href="mailto:mechroninz2k23@gmail.com" target="_blank">mechroninz2k23@gmail.com</a></h6>
                <div class="links">
                <h6>Quick Links</h6>
                <h6><a href="#home"><i class="fa-solid fa-gun"></i>&nbsp;&nbsp;Home</a></h6>
                <h6><a href="#techevent"><i class="fa-solid fa-gun"></i>&nbsp;&nbsp;Technical Events</a></h6>
                <h6><a href="#nontechevent"><i class="fa-solid fa-gun"></i>&nbsp;&nbsp;Non-Technical Events</a></h6>
            </div>
            <div class="footericon">
                <h6>Social Media</h6>
               <a href="https://www.facebook.com/profile.php?id=100090942617082" target="_blank"> <img src="/assets/images/Facebook.png" alt="Facebook" title="Facebook"> </a>
               <a href="https://instagram.com/flame_mechroniz_2k23?igshid=ZDdkNTZiNTM=" target="_blank"> <img src="/assets/images/Instagram.png" alt="Instagram" title="Instagram"></a>
               <a href="https://www.linkedin.com/in/flame-kiot-26aa53269/" target="_blank"><img src="/assets/images/Linkedin.png" alt="Linkedin" title="Linkedin"></a> 
            </div>
            </div>
            <div class="about">
                <div>
                <p>About FLAME 2K23 </p></div>
                <div>
                <img src="/assets/images/Flame_with_bg-removebg-preview.png" alt="FLAME" title="FLAME"></div>
                <h2 class="aboutus">To bring event management skills to the students. To bring the industrial experts to the students for industrial exposure and technical skill development. To improve the student performance in the Technical Events and Fun Events.....<a href="/aboutus">Know more</a></h2>
            </div>
            <div>
                <center><h3>Developed by</h3></center>
            <div class="designers">
                
                <div class="img1">
               <div> 
                <img src="/assets/images/jeeva.jpg" alt="Designers" title="Designers">
            </div> 
            <div>
                <p>Jeeva Aravinth J V</p>
            </div>
        </div>
        <div class="img1">
              <div>  
                <img src="/assets/images/mani edit.jpg" alt="Designers" title="Designers"></div>
                <div>
                <p>Manikandan O</p>
            </div>
        </div>
        <div class="img1">
            <div>  
              <img src="/assets/images/harish 2.jpg" alt="Designers" title="Designers"></div>
              <div>
              <p>Harish B</p>
          </div>
        </div>
        </div>
            </div>
        </div>
    </footer>
</section>
<section class="copyrights">
    <div class="source">
    <div>
        <h3>Copyright  &copy; @FLAME-2023. All rights Reserved</h3>           
    </div>
    
</div>
<script>
     window.onscroll = () => {
            if (window.scrollY > 0) {
                document.querySelector('.header').classList.add('active');
            }
            else {
                document.querySelector('.header').classList.remove('active');
            }
            menu.classList.remove('fa-times');
            navbar.classList.remove('active');
        }
        window.onload = () => {
            if (window.scrollY > 0) {
                document.querySelector('.header').classList.add('active');
            }
            else {
                document.querySelector('.header').classList.remove('active');
            }
        }

        let menu = document.querySelector('#menu-btn');
        let navbar = document.querySelector('.navbar');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }
        window.onload = function(){
            var loader = document.getElementById('loaderBox'); 
            loader.style.display = 'none';
        };
</script>
</body>
</html>