<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/form.css">
</head>
<body>
    <section>
    <div class="color">
        <h1 class="title">Registration  <span>Form</span></h1>
                <div class="jeeva">
                    <form action="/signup" method="post" onsubmit="return validate()">
                        <div class="form">
                        <div class="right">
                            <div class="rights">
                                <input type="text" placeholder="Name of participant 1" class="field" name="partname1" id="partname" onkeyup="validName()">
                                <small id="error1">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Name of participant 2" class="field" name="partname2" id="partname1" onkeyup="validName1()">
                                <small id="parterror1">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Name of participant 3" class="field" name="partname3" id="partname2" onkeyup="validName2()">
                                <small id="parterror2">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Name of participant 4" class="field" name="partname4" id="partname3" onkeyup="validName3()">
                                <small id="parterror3">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Enter the Mail Id of participants" class="field" name="email" id="email" onkeyup="validateEmail()">
                                <small id="error5">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Enter your college name" class="field" name="collegename" id="collegename" onkeyup="validCollegeName()">
                                <small id="error4">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Enter the team name" class="field" name="teamname" id="teamname" onkeyup="validTeamName()">
                                <small id="error3">error message</small>
                            </div>
                            <div class="rights">
                                <input type="text" placeholder="Enter your mobile" class="field" name="mobile" id="mobile" onkeyup="validateMobile()">
                                <small id="error2">error message</small>
                            </div>
                            <div class="rights">
                                <label for="">no of team members</label>
                                <div class="member">
                                    <input type="checkbox" id="member" name="member" value="1" onclick="memberValidate(this)"><h4>1 member</h4>
                                </div>
                                <div class="member">
                                    <input type="checkbox" id="member" value="2" name="member" onclick="memberValidate(this)"><h4>2 members</h4>
                                </div>
                                <div class="member">
                                    <input type="checkbox" id="member" value="3" name="member" onclick="memberValidate(this)"><h4>3 members</h4>
                                </div>
                                <div class="member"> 
                                    <input type="checkbox" id="member" value="4" name="member" onclick="memberValidate(this)"><h4>4 members</h4>
                                </div>
                                <div class="member">
                                    <small id="memError" class="memError">error message</small>
                                </div>
                               </div>
                              
                        </div>


                        <div class="left">
                            <div class="lefts">
                                <label for="">choose your year of studying</label>
                                <div class="year">
                                    <input type="checkbox" id="year" value="I" name="year" onclick="yearValidate(this)">
                                    <h4>I year</h4>
                                </div>
                                <div class="year">
                                    <input type="checkbox" id="year" value="II" name="year"  onclick="yearValidate(this)">
                                    <h4>II year</h4>
                                </div>
                                <div class="year">
                                    <input type="checkbox" id="year" value="III" name="year"  onclick="yearValidate(this)">
                                    <h4>III year</h4>
                                </div>
                                <div class="year">
                                    <input type="checkbox" id="year" value="IV" name="year"  onclick="yearValidate(this)">
                                    <h4>IV year</h4>
                                </div>
                                <small class="yearError" id="yearError">error message</small>
                               </div>
                             <div class="lefts" id="techevent">
                                <label for="">technical events</label>
                                <div class="techEvents">
                                    <input type="checkbox" id="event" value="Paper Presentation" name="techevent" onclick="techeventValidate(this)">
                                    <h4>Paper Presentation</h4>
                                </div>
                                <div class="techEvents">
                                    <input type="checkbox" id="event" value="Design Dynastry" name="techevent" onclick="techeventValidate(this)">
                                    <h4>Design Dynastry</h4>
                                </div>
                                <div class="techEvents">
                                    <input type="checkbox" id="event" value="Engine Assembly" name="techevent" onclick="techeventValidate(this)">
                                    <h4>Engine Assembly</h4>
                                </div>
                                <div class="techEvents">
                                    <input type="checkbox" id="event" value="Brain Bytes" name="techevent" onclick="techeventValidate(this)">
                                    <h4>Brain Bytes</h4>
                                </div>
                                <div class="techEvents">
                                    <input type="checkbox" id="event" value="Logic Lingo" name="techevent" onclick="techeventValidate(this)">
                                    <h4>Logic Lingo</h4>
                                </div>
                                <div class="techEvents">
                                    <input type="checkbox" id="event" value="Visual Memory" name="techevent" onclick="techeventValidate(this)">
                                    <h4>Visual Memory</h4>
                                </div>
                                
                                <small id="techeventError" class="techeventError">error message</small>
                            </div>
                            <div class="lefts" id="nontechevent">
                                <label for="">non-technical events</label>
                                <div class="nontechEvents">
                                    <input type="checkbox" id="event" value="Blink Movies" name="nontechevent" onclick="nontecheventValidate(this)">
                                    <h4>Blink Movies</h4>
                                </div>
                                <div class="nontechEvents">
                                    <input type="checkbox" id="event" value="Face Art" name="nontechevent" onclick="nontecheventValidate(this)">
                                    <h4>Face Art</h4>
                                </div>
                                <div class="nontechEvents">
                                    <input type="checkbox" id="event" value="Chain Reaction" name="nontechevent" onclick="nontecheventValidate(this)">
                                    <h4>Chain Reaction</h4>
                                </div>
                                <div class="nontechEvents">
                                    <input type="checkbox" id="event" value="Body Language Ballet" name="nontechevent" onclick="nontecheventValidate(this)">
                                    <h4>Body Language Ballet</h4>
                                </div>
                                <div class="nontechEvents">
                                    <input type="checkbox" id="event" value="Meme Creation" name="nontechevent" onclick="nontecheventValidate(this)">
                                    <h4>Meme Creation</h4>
                                </div>
                                <small id="nontecheventError" class="nontecheventError">error message</small>
                            </div>
                            <div class="lefts">
                                <div class="bike">
                                    <input type="checkbox" name="workshop" value="yes" id="workshop" class="workshop">
                                    <h2 class="work">E-Bike Workshop</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                             <button type="submit" class="register">Register</button>
                    </form>
                </div>
                </div>  
            </section>

            <script>
                var member=[];
                var i=0;
                var year=[];
                var j=0;
               
                var techevent=[];
                var k=0;
                
                var nontechevent=[];
                var l=0;
                
                var count=0;
                const membererror=document.getElementById('memError');
                function memberValidate(mem){
                    if(!member.includes(mem.value)){
                        member[i++]=mem.value;
                    }
                    else if(member.includes(mem.value)){
                        const ind=member.indexOf(mem.value);
                        var memb=a=member.splice(ind,1);
                        i--;
                    }
                    else if(member.length<1){
                        member=[];
                        membererror.style.color="red";
                        document.getElementById('memError').innerHTML="select any one option";
                    }
                    else{
                         member[i++]=mem.value;
                    }
                    console.log(member);
                    if(member.length==1){
                        document.getElementById('memError').innerText="success";
                        membererror.style.color="green";
                        
                        document.getElementById('memError').style.visibility="visible";
                        return count++;
                    }
                    else{
                        membererror.style.color="red";
                        document.getElementById('memError').innerHTML="select any one option";
                    }
                    
                }
                const yearerror=document.getElementById("yearError");
                function yearValidate(ye){
                    if(!year.includes(ye.value)){
                        year[j++]=ye.value;
                    }
                    else if(year.includes(ye.value)){
                        const ind=year.indexOf(ye.value);
                        var yea=year.splice(ind,1);
                        j--;
                    }
                    else if(year.length<1){
                        year=[];
                        yearerror.style.color="red";
                        document.getElementById('yearError').innerHTML="select any one option";
                    }
                    else{
                        year[i++]=ye.value;
                    }
        
                    if(year.length==1){
                        document.getElementById('yearError').innerText="success";
                        yearerror.style.color="green";            
                        document.getElementById('yearError').style.visibility="visible";
                        return count++;            
                    }
                    else{
                        yearerror.style.color="red";
                        document.getElementById('yearError').innerText="select any one option";
                    }
                    
                }
                const techev=document.getElementById("techeventError");
                function techeventValidate(ev){
                    if(!techevent.includes(ev.value)){
                        techevent[k++]=ev.value;
                    }
                    else if(techevent.includes(ev.value)){
                        const ind=techevent.indexOf(ev.value);
                        var eve=techevent.splice(ind,1);
                        k--;
                    }
                    else if(techevent.length<1){
                        techevent=[];
                        techev.style.color="red";
                        document.getElementById('techeventError').innerHTML="select any one option";
                    }
                    else{
                        techevent[k++]=ev.value;
                    }
        
                   if(techevent.length==1 || techevent.length==2){
                    document.getElementById('techeventError').style.visibility="visible"; 
                        document.getElementById('techeventError').innerText="success";
                        techev.style.color="green";
                        if(techevent.length==2){
                            document.getElementById('nontechevent').style.display="none";  
                        }
                        else{
                            document.getElementById('nontechevent').style.display="block";  
                        
                        }
                         
                        return count++;          
                    }
                    else{
                        techev.style.color="red";
                        document.getElementById('techeventError').innerText="select any two option";
                    }
                    
                }
                const nontechev=document.getElementById('nontecheventError');
                function nontecheventValidate(ev){
                    if(!nontechevent.includes(ev.value)){
                        nontechevent[l++]=ev.value;
                    }
                    else if(nontechevent.includes(ev.value)){
                        const ind=nontechevent.indexOf(ev.value);
                        var eve=nontechevent.splice(ind,1);
                        l--;
                    }
                    else if(nontechevent.length<1){
                        nontechevent=[];
                        nontechev.style.color="red";
                        document.getElementById('nontecheventError').innerHTML="select any one option";
                    }
                    else{
                        nontechevent[k++]=ev.value;
                    }
        
                   if(nontechevent.length==1 || nontechevent.length==2){
                    
                    document.getElementById('nontecheventError').style.visibility="visible";
                        document.getElementById('nontecheventError').innerText="success";
                        nontechev.style.color="green";
                        if(nontechevent.length==2){
                            document.getElementById('techevent').style.display="none";  
                        }
                        else{
                            document.getElementById('techevent').style.display="block";  
                        
                        }
                        return count++;            
                    }
                    else{
                        nontechev.style.color="red";
                        document.getElementById('nontecheventError').innerText="select any two option";
                    }
                    
                }
        
        
        
                //////////////////////////////////////////
            const username=document.getElementById('partname');
            const username1=document.getElementById('partname1');
            const username2=document.getElementById('partname2');
            const username3=document.getElementById('partname3');
            const teamname=document.getElementById('teamname');
            const collegename=document.getElementById('collegename');
           const mobile=document.getElementById('mobile');
            const emai=document.getElementById('email');
                
                function validName(){
                const user=username.value;
                if(user==" "){
                    error1.style.color="red";
                    error1.innerHTML="do not blank";
                    error1.style.visibility="visible";
                   
                }
                else if(user.length<4){
                    error1.style.color="red";
                    error1.innerHTML="Username must contains 4 letters";
                    error1.style.visibility="visible";
                 }
                 else if(!namecheck(username)){
                    error1.style.color="red";
                   error1.innerHTML="Username only characters";
                    error1.style.visibility="visible";
                 }
                 else{
                    error1.style.color="green";
                    error1.innerHTML="success";
                    error1.style.visibility="visible";
                    return count++;
                }
            }
        
            function namecheck(){
                        var namvalue=username.value.trim();
                        var count5=0,count6=0;
                        for( i=0;i<namvalue.length;i++){
                            const nam=namvalue.charCodeAt(i);
                            if(nam>=65 && nam<=90)
                            {
                                count5++;
                            }
                            else if(nam>=97 && nam<=122)
                            {
                                count6++;
                            }
                        }
                        if(count5>0 || count6>0)
                        {
                            return true;
                        }
                        else {
                            
                        }return false;
                        }
        
            //------------------------------------------------------------
        
            //-----------------------team name validation-----------------------------
            
            function validTeamName(){
                const user=teamname.value;
                if(user==" "){
                    error3.style.color="red";
                    error3.innerHTML="do not blank";
                    error3.style.visibility="visible";
                }
                else if(user.length<6){
                    error3.style.color="red";
                   error3.innerHTML="Username must contains 6 letters";
                    error3.style.visibility="visible";
                 }
                 else if(!teamnamecheck(teamname)){
                    error3.style.color="red";
                   error3.innerHTML="Username only characters";
                    error3.style.visibility="visible";
                 }
                 else{
                    error3.style.color="green";
                    error3.innerHTML="success";
                    error3.style.visibility="visible";
                    return count++;
                }
            }
        
            function teamnamecheck(){
                        var namvalue=teamname.value.trim();
                        var count5=0,count6=0;
                        for( i=0;i<namvalue.length;i++){
                            const nam=namvalue.charCodeAt(i);
                            if(nam>=65 && nam<=90)
                            {
                                count5++;
                            }
                            else if(nam>=97 && nam<=122)
                            {
                                count6++;
                            }
                        }
                        if(count5>0 || count6>0)
                        {
                            return true;
                        }
                        else {
                            
                        }return false;
                        }
        
                //--------------------------------------------------------------
                function validCollegeName(){
                const user=collegename.value;
                if(user==" "){
                    error4.style.color="red";
                    error4.innerHTML="do not blank";
                    error4.style.visibility="visible";
                   
                }
                else if(user.length<6){
                    error4.style.color="red";
                   error4.innerHTML="Username must contains 6 letters";
                    error4.style.visibility="visible";
                 }
                 else if(!collegenamecheck(collegename)){
                    error4.style.color="red";
                   error4.innerHTML="Username only characters";
                    error4.style.visibility="visible";
                 }
                 else{
                    error4.style.color="green";
                    error4.innerHTML="success";
                    error4.style.visibility="visible";
                    return count++;
                }
            }
        
            function collegenamecheck(){
                        var namvalue=collegename.value.trim();
                        var count5=0,count6=0;
                        for( i=0;i<namvalue.length;i++){
                            const nam=namvalue.charCodeAt(i);
                            if(nam>=65 && nam<=90)
                            {
                                count5++;
                            }
                            else if(nam>=97 && nam<=122)
                            {
                                count6++;
                            }
                        }
                        if(count5>0 || count6>0)
                        {
                            return true;
                        }
                        else {
                            
                        }return false;
                        }
        
                //-----------------------mobile validation-----------------------------
            
        
                    function validateMobile(){
                        const mob=mobile.value;
                        if(mob==" "){
                         error2.style.color="red";
                         error2.innerHTML="do not blank";
                         error2.style.visibility="visible";
                         
                        }
                        else if(mob.length<10){
                    error2.style.color="red";
                    error2.innerHTML="mobile number should contains 10 numbers";
                    error2.style.visibility="visible";
                  
                }
                        else if(!mobilecheck(mobile)){
                    error2.style.color="red";
                    error2.innerHTML="mobile number should contains only numbers";
                    error2.style.visibility="visible";
                  
                }
                 
                else{
                    error2.style.color="green";
                    error2.innerHTML="success";
                    error2.style.visibility="visible";
                    return count++;
                }
               
            }
        
            
        
            function mobilecheck(){
                        var mobvalue=mobile.value.trim();
                        var count4=0;
                        for( i=0;i<mobvalue.length;i++)
                {
                    const first=mobvalue.charCodeAt(i);
                    if(first>=48 && first<=57)
                    {
                        count4++;
                    }
                }
                if(count4==10)
                {
                    return true;
                }
                else {
                    return false;
                }
                    }
        
            //---------------------------------------------------------------
        
            //-----------------------Email validation-----------------------------
            
                    function validateEmail(){
                        const emaiValue=emai.value;
                        console.log(emaiValue);
                        if(emaiValue==""){
                    error5.style.color="red";
                    error5.innerHTML="do not blank";
                    error5.style.visibility="visible";
                        }
                        else if(!emailcheck(emai)){
                    error5.style.color="red";
                    error5.innerHTML="email contains @,.com or .in";
                    error5.style.visibility="visible";
                        }
                        else{
                    error5.style.color="green";
                    error5.innerHTML="success";
                    error5.style.visibility="visible";
                    return count++;
                        }
                    }
        
                    
        
            function emailcheck(){
                const emaiValue=emai.value;
                if(emaiValue.includes('@') && (emaiValue.includes('.com') || emaiValue.includes('.in'))){
                    return true;
                }
                else{
                    return false;
                }
            }
        
            //---------------------------------------------------------------
        
        
            //-----------------------form validation-----------------------------
            
        
                    function validate(){
                        const val=count;
                        if(val>=8){
                            return true;
                        }
                        else{
                            return false;
                        }
                    }

                    //---------------------------------------------------------------------------
                    function validName1(){
                const user=username1.value;
                if(user==" "){
                    parterror1.style.color="red";
                    parterror1.innerHTML="do not blank";
                    parterror1.style.visibility="visible";
                   
                }
                else if(user.length<4){
                    parterror1.style.color="red";
                    parterror1.innerHTML="Username must contains 4 letters";
                    parterror1.style.visibility="visible";
                 }
                 else if(!namecheck1(username1)){
                    parterror1.style.color="red";
                    parterror1.innerHTML="Username only characters";
                    parterror1.style.visibility="visible";
                 }
                 else{
                    parterror1.style.color="green";
                    parterror1.innerHTML="success";
                    parterror1.style.visibility="visible";
                    return count++;
                }
            }
        
            function namecheck1(){
                        var namvalue=username1.value.trim();
                        var count5=0,count6=0;
                        for( i=0;i<namvalue.length;i++){
                            const nam=namvalue.charCodeAt(i);
                            if(nam>=65 && nam<=90)
                            {
                                count5++;
                            }
                            else if(nam>=97 && nam<=122)
                            {
                                count6++;
                            }
                        }
                        if(count5>0 || count6>0)
                        {
                            return true;
                        }
                        else {
                            
                        }return false;
                        }
                        //------------------------------------------------
                        function validName2(){
                const user=username2.value;
                if(user==" "){
                    parterror2.style.color="red";
                    parterror2.innerHTML="do not blank";
                    parterror2.style.visibility="visible";
                   
                }
                else if(user.length<4){
                    parterror2.style.color="red";
                    parterror2.innerHTML="Username must contains 4 letters";
                    parterror2.style.visibility="visible";
                 }
                 else if(!namecheck2(username2)){
                    parterror2.style.color="red";
                    parterror2.innerHTML="Username only characters";
                    parterror2.style.visibility="visible";
                 }
                 else{
                    parterror2.style.color="green";
                    parterror2.innerHTML="success";
                    parterror2.style.visibility="visible";
                    return count++;
                }
            }
        
            function namecheck2(){
                        var namvalue=username2.value.trim();
                        var count5=0,count6=0;
                        for( i=0;i<namvalue.length;i++){
                            const nam=namvalue.charCodeAt(i);
                            if(nam>=65 && nam<=90)
                            {
                                count5++;
                            }
                            else if(nam>=97 && nam<=122)
                            {
                                count6++;
                            }
                        }
                        if(count5>0 || count6>0)
                        {
                            return true;
                        }
                        else {
                            
                        }return false;
                        }
            //---------------------------------------------------------
            function validName3(){
                const user=username3.value;
                if(user==" "){
                    parterror3.style.color="red";
                    parterror3.innerHTML="do not blank";
                    parterror3.style.visibility="visible";
                   
                }
                else if(user.length<4){
                    parterror3.style.color="red";
                    parterror3.innerHTML="Username must contains 4 letters";
                    parterror3.style.visibility="visible";
                 }
                 else if(!namecheck3(username3)){
                    parterror3.style.color="red";
                    parterror3.innerHTML="Username only characters";
                    parterror3.style.visibility="visible";
                 }
                 else{
                    parterror3.style.color="green";
                    parterror3.innerHTML="success";
                    parterror3.style.visibility="visible";
                    return count++;
                }
            }
        
            function namecheck3(){
                        var namvalue=username3.value.trim();
                        var count5=0,count6=0;
                        for( i=0;i<namvalue.length;i++){
                            const nam=namvalue.charCodeAt(i);
                            if(nam>=65 && nam<=90)
                            {
                                count5++;
                            }
                            else if(nam>=97 && nam<=122)
                            {
                                count6++;
                            }
                        }
                        if(count5>0 || count6>0)
                        {
                            return true;
                        }
                        else {
                            
                        }return false;
                        }
            </script>
        
</body>
</html>