<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/assets/images/Flame_with_bg-removebg-preview_adobe_express.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAME</title>
    <link rel="stylesheet" href="/assets/index.css">
</head>

<body>
    
    <div class="loaderBox" id="loaderBox">
        <div class="loader" id="loader">
            <img src="/assets/images/loader.png" alt="">
        </div>
    </div>
    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div class="headers" >
            <div id="home">
                <img src="/assets/images/Flame_with_bg-removebg-preview.png" alt="FLAME Logo" class="Logo">
            </div>
            <div class="span">
                <span> FLAME 2K23</span>
            </div>
        </div>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <marquee>Technical/Non-Technical Events - Rs.150/- per head & Workshop - Rs.300/- per head</marquee>

    <section class="heading">
        <p class="first">Department of</p>
        <p class="second">Mechanical Engineering</p>
    </section>
    <section class="slideshow">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/assets/images/slide 1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/slide 2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/slide 3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/slide 4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/assets/images/slide 5.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <center><a href="/form"><button class="register">register here <span>welcome</span></button></a></center>
    </section>
    <section class="techevent" id="techevent">
        <p>Technical Events</p>
        <div class="container">
            <div class="event">
                <div>
                    <h4>Paper Presentation</h4>
                </div>
                <div><img src="/assets/images/Paper presentation.jpg" alt="Paper Presentation" title="Paper Presentation">
                </div>
                <div>
                    <p class="para">Paper presentation is an event where the participants are required to make a paper
                        about a certain topic or area, and then present it in front of a jury, following which it will
                        be rated and judged based on their performance.</p>
                </div>
                
                <a href="/events"><button type="button">Rules Info <span class="icon"><img src="/assets/images/Paper.gif" alt=""></span>
            </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Design Dynastry</h4>
                </div>
                <div><img src="/assets/images/Design.jpg" alt="Design Dynastry" title="Design Dynastry"></div>
                <div>
                    <p class="para">Event design is the process of creating a vision for an event by crafting a
                        blueprint of all the visual details around said occasion to transform your space, while event
                        planning is working out all the logistics of your event.</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/design.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Engine Assembly</h4>
                </div>
                <div><img src="/assets/images/Engine.jpg" alt="Engine" title="Engine"></div>
                <div>
                    <p class="para">
                        Correct engine assembly procedures give your engine the best hope of good power, quiet running
                        and a long life. Every mechanic, both qualified and un-qualified can build an engine with these
                        qualities.</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/engine.webp" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Brain Bytes</h4>
                </div>
                <div><img src="/assets/images/Brain Bytes.jpg" alt="Brain Bytes" title="Brain Bytes"></div>
                <div>
                    <p class="para">
                        A quiz is a game which can also be called a mind sport wherein the players, either as
                        individuals or in teams attempt to answer questions posed to them correctly, in order to win a
                        prize.</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/thinking.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Logic Lingo</h4>
                </div>
                <div><img src="/assets/images/Logic Lingo.jpg" alt="Logic Lingo" title="Logic Lingo"></div>
                <div>
                    <p class="para">
                        A debate is a discussion or structured contest about an issue or a resolution. A formal debate
                        involves two sides: one supporting a resolution and one opposing it. Such a debate is bound by
                        rules previously agreed upon. </p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/debate.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Visual Memory</h4>
                </div>
                <div><img src="/assets/images/Visual memory.jpg" alt="Visual memory" title="Visual memory"></div>
                <div>
                    <p class="para">Visual memory describes the relationship between perceptual processing and the
                        encoding, storage and retrieval of the resulting neural representations. </p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/memory.gif" alt=""></span>
                </button></a>
            </div>
        </div>
    </section>

    <section class="techevent" id="nontechevent">
        <p>Non-Technical Events</p>
        <div class="container">
            <div class="event">
                <div>
                    <h4>Blink Movie</h4>
                </div>
                <div><img src="/assets/images/Blink Movies.jpg" alt="Blink Movies" title="Blink Movies"></div>
                <div>
                    <p class="para">A short film is defined first and foremost by its brevity. Although they come in
                        many sizes, use cases, and genres, their goals are almost always the same: spend less than on a
                        feature film, gain professional visibility etc..</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/camera.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Face Art</h4>
                </div>
                <div><img src="/assets/images/Face art.jpg" alt="Face art" title="Face art"></div>
                <div>
                    <p class="para">Face painting is applying a design to the face using brushes and paints suitable for
                        use on the skin. The designs may be very simple such as a butterfly shape on the cheek in one or
                        two colors or extremely complex such as a full leopard mask with detailed spots and many shades
                        of color.</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/face_art.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Body Language Ballet</h4>
                </div>
                <div><img src="/assets/images/Mime.jpg" alt="Body Language Ballet" title="Body Language Ballet"></div>
                <div>
                    <p class="para">Mime n the theatrical technique of suggesting action, character or emotion without
                        words, using only gesture, expression and movement.</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/mime.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Meme Creation</h4>
                </div>
                <div><img src="/assets/images/meme.jpeg" alt="meme creation" title="meme creation"></div>
                <div>
                    <p class="para">You can create "meme chains" of multiple images stacked vertically by adding new
                        images with the "below current image" setting. You can add special image effects like posterize,
                        jpeg artifacts, blur, sharpen etc. </p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/meme.gif" alt=""></span>
                </button></a>
            </div>
            <div class="event">
                <div>
                    <h4>Chain Reaction</h4>
                </div>
                <div><img src="/assets/images/Chain reaction.jpg" alt="Chain reaction" title="Chain reaction"></div>
                <div>
                    <p class="para">You will connect the images which will display on the screen and it will improve the
                        logical thinking,technical knowledge etc. The images will relate with each other to form the
                        respected output.</p>
                </div>
                <a href="/events"><button type="button">Rules Info<span class="icon"><img src="/assets/images/connection.gif" alt=""></span>
                </button></a>
            </div>
        </div>
    </section>
    <section class="footer">
    <footer>
        <div class="footercontainer">
            <div class="map">
                <p><i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;Reach us</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15635.5682432325!2d78.03047480000001!3d11.5595951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1678353133931!5m2!1sen!2sin"
                style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="500"
                height="450"></iframe></div>
            <div class="studetails">
                <p>FLAME STUDENT INCHARGE</p>
                <strong>Secretary :</strong>
                <p><i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp; Mr.S.Karthik
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91
                    9361525272</p>
                <strong>Treasurer :</strong>
                <p><i class="fa-solid fa-coins"></i>&nbsp;&nbsp; Mr.J.V.Jeeva Aravinth &nbsp;&nbsp;+91 7904925991</p><br>
                <p><i class="fa-solid fa-paper-plane"></i>&nbsp;&nbsp; Email us- <a href="mailto:mechroninz2k23@gmail.com" target="_blank">mechroninz2k23@gmail.com</a></p>
                <div class="links">
                <p>Quick Links</p>
                <p><a href="#home"><i class="fa-solid fa-gun"></i>&nbsp;&nbsp;Home</a></p>
                <p><a href="#techevent"><i class="fa-solid fa-gun"></i>&nbsp;&nbsp;Technical Events</a></p>
                <p><a href="#nontechevent"><i class="fa-solid fa-gun"></i>&nbsp;&nbsp;Non-Technical Events</a></p>
            </div>
            <div class="footericon">
                <p>Social Media</p>
                <a href="https://www.facebook.com/profile.php?id=100090942617082" target="_blank"> <img src="/assets/images/Facebook.png" alt="Facebook" title="Facebook"> </a>
               <a href="https://instagram.com/flame_mechroniz_2k23?igshid=ZDdkNTZiNTM=" target="_blank"> <img src="/assets/images/Instagram.png" alt="Instagram" title="Instagram"></a>
               <a href="https://www.linkedin.com/in/flame-kiot-26aa53269/" target="_blank"><img src="/assets/images/Linkedin.png" alt="Linkedin" title="Linkedin"></a> 
            </div>
            </div>
            <div class="about">
                <div>
                <p>About FLAME 2K23 </p></div>
                <div>
                <img src="/assets/images/Flame_with_bg-removebg-preview.png" alt="FLAME" title="FLAME"></div>
                <h2 class="aboutus">To bring event management skills to the students. To bring the industrial experts to the students for industrial exposure and technical skill development. To improve the student performance in the Technical Events and Fun Events.....<a href="/aboutus">Know more</a></h2>
            </div>
            <div>
                <center><h3>Developed by</h3></center>
            <div class="designers">
                
                <div class="img1">
               <div> 
                <img src="/assets/images/jeeva.jpg" alt="Designers" title="Designers">
            </div> 
            <div>
                <p>Jeeva Aravinth J V</p>
            </div>
        </div>
        <div class="img1">
              <div>  
                <img src="/assets/images/mani edit.jpg" alt="Designers" title="Designers"></div>
                <div>
                <p>Manikandan O</p>
            </div>
        </div>
        <div class="img1">
            <div>  
              <img src="/assets/images/harish 2.jpg" alt="Designers" title="Designers"></div>
              <div>
              <p>Harish B</p>
          </div>
      </div>
    </div>
            </div>
    </footer>
</section>
<section class="copyrights">
    <div class="source">
    <div>
        <p>Copyright  &copy; @FLAME-2023. All rights Reserved</p>           
    </div>
    
</div>
</section>


    <script>
        const swiper = new Swiper('.swiper', {
            slidesPerView: 1,
            loop: true,
            grabCursor: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                700: {
                    slidesPerView: 1,
                },
                800: {
                    slidesPerView: 1,
                },
                991: {
                    slidesPerView: 1,
                },
                1200: {
                    slidesPerView: 1,
                }
            },
        });

        window.onscroll = () => {
            if (window.scrollY > 0) {
                document.querySelector('.header').classList.add('active');
            }
            else {
                document.querySelector('.header').classList.remove('active');
            }
            menu.classList.remove('fa-times');
            navbar.classList.remove('active');
        }
        window.onload = () => {
            if (window.scrollY > 0) {
                document.querySelector('.header').classList.add('active');
            }
            else {
                document.querySelector('.header').classList.remove('active');
            }
        }

        let menu = document.querySelector('#menu-btn');
        let navbar = document.querySelector('.navbar');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('active');
        }
        window.onload = function(){
            var loader = document.getElementById('loaderBox'); 
            loader.style.display = 'none';
        };
    </script>


</body>

</html>