@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: grid;
}
.system{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}
.heading{
    position: relative;
    margin-bottom: 1.5%;
}

.first{
    animation: first 1.5s linear 1;
    position: absolute;
    top: 19%;
    left: 18%;
    color: black;
}
@keyframes first {
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0px);
        transition: transform 500ms ease-in-out;
    }
}
.second{
    animation: second 1.5s linear 1;
    position: absolute;
    top: 19%;
    left: 55%;
    color: black;
}
@keyframes second{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0px);
        transition: transform 500ms ease-in-out;
    }
}

.form #h2{
    color: black;
    text-align: center;
    padding: 20px 40px;
}
.form{
  width: 25rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 4px rgba(22, 22, 22, 0.874);
  border-radius: 20px 35px 20px 35px;
  position: relative;
}
input{
    width: 60%;
    box-shadow: 0px 4px 4px 3px  rgba(199, 182, 182, 0.874);
    margin-left: 80px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;
    border:none;
    outline: none;
}
input:focus{
    outline: none;
}
.form small{
    color: #c80d0d;
    visibility: hidden;
    margin-left: 130px;
    text-align: center;
}
.form span{
    display: block;
    padding: 10px;
    margin-left: 60px;
    font-size: 20px;
}
.form .password{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.form .password:hover{
    color: blueviolet;
    text-decoration: underline;
    cursor: pointer;
}
.form button{
  border: none;
  font-size: large;
  width: 60%;
  margin-left: 80px;
  padding: 10px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.form button:hover{
    cursor: pointer;
    color: white;
    background: rgba(0,0,0,0.75);
}
.form p{
    color:red;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 15px;
}
@media only screen and (max-width : 500px)
{
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }
}
